.container{
  max-width: 80%;
  margin: 0 auto;
}



/** Navbar modules **/

.nav{
  display: flex;
  grid-template-columns: 200px 1fr;
  align-items: center;
  background: #fff;

  &__logo{
    font-size: 4rem;
    font-family: $second-font;
    a{
      color: $primary-color;
      span{
        color: $second-color;
      }
    }
  }

  &__menus{
    display: flex;
    margin-left: 5rem;
    font-family: $third-font;

  }

  .nav-item{
    margin-left: 3rem;
    font-size: 1.5rem;
    a{
    }
  }


}


/** Top picks **/
.toppick__items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}











/** Items Component */

.toppick__item{
  border: 0px solid $second-color;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  overflow: hidden;
  transition: all 0.3s;

  &:hover{
    transform: translate(-5px, -5px);
  }

  .image{
    display: block;
    position: relative;
    padding-bottom: 25rem;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left:0;
      top:0;
      object-fit: cover;
    }
  }

  .details{
    padding: 1.4rem;

    .title{
      font-size: 2.5rem;
      font-weight: bold;
      color: $second-color;
    }
    .genre{
      font-size: 1.5rem;
    }
    .description{
      margin-top: 5px;
      font-size: 1.2rem;
    }
    .final-block{
      margin-top: 1rem;
    }
    .rating{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1.75rem;
      width: 3rem;
      height: 3rem;
      background: $third-color;
      border-radius: 50%;
    }
  }
}



/** Single Movie **/

.row{
  display: grid;
  grid-template-columns:  8fr 4fr;
  grid-column-gap: 3rem;
}

.movie{
  font-family: $third-font;
}
.movie__title{
  font-size: 3rem;

  text-transform: uppercase;

  .release-date{
    font-size: 1.8rem;
  }
}

.movie__trailer{
  position: relative;
  width: 100%;
  padding-bottom: 40rem;
  overflow: hidden;
  border-radius: 10px;

  &:hover{
    cursor: pointer;
  }

  &:hover .play{
    opacity: 1;

  }

  .image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .play{
    position: absolute;
    left: 45%;
    top:40%;
    width:8rem;
    opacity: 0.7;

  }


}
.description{
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 300;
}
