/*
=======================================
      Colors
========================================
*/

$primary-color: #c0392b;
$background-color: #ecf0f1;
$second-color: #2c3e50;


/*
===========================================
          Fonts
============================================
*/

$primary-fonts: 'Abel', sans-serif;
$second-font: 'Staatliches', cursive;
$third-font: 'Bree Serif', serif;
